@model PuppyPlatform.Models.LoginView.LoginModel

@{
    ViewData["Title"] = "Login";
}
<h1>@ViewData["Title"]</h1>
<!-- Include jQuery library -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<form id="login-form" method="post" action="~/Login">
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" id="username" name="Username" class="form-control" required>
    <div id="usernameHelp" class="form-text">Enter your username.</div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
     <input type="password" id="password" name="Password" class="form-control" required>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>

 
<div style="margin-top:2%">
    @if (Model != null)
    {
        @if (Model.errorMessage == "Wrong login")
        {
            <div class="alert alert-danger" role="alert">
              Wrong login used! Please verify your filled in password and username.
            </div>    
        }
    }
    
</div>

    
</form>