@{
    ViewData["Title"] = "Login";
}
<h1>@ViewData["Title"]</h1>
<!-- Include jQuery library -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<body>
    
    <script>
        // Remove the access token from the cookies
            document.cookie = "accessToken=; path=/;";

        // Redirect to the next view
        window.location.href = 'https://localhost:7014/';
    </script>
    
  </body>